<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3">
        <h4>Admin dashboard works!</h4>
        <div class="row mb-4 mt-4">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h4>Total Companies</h4>
                <h4>{{getOrgList.length}}</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h4>Active Companies</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h4>Total Users</h4>
                <h4>{{getUserList.length}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h4>Total Companies Chart Bar</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h4>Active Companies Chart Bar</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
