<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>add-admin works!</h1>
        <table class="table table-bordered mt-3">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
          </tr>
          <tr>
            <td>Text</td>
            <td>Text</td>
            <td>Text</td>
            <td>Text</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
